certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
cocotb==1.9.2
colorcet==3.1.0
contourpy==1.3.2
cycler==0.12.1
datashader==0.17.0rc0
find_libpython==0.4.1
fonttools==4.58.4
h5py==3.14.0
idna==3.10
kiwisolver==1.4.8
llvmlite==0.44.0
markdown-it-py==3.0.0
matplotlib==3.10.3
mdurl==0.1.2
multipledispatch==1.0.0
numba==0.61.2
numpy==2.2.6
packaging==25.0
pandas==2.3.0
param==2.2.1
pillow==11.2.1
pyarrow==20.0.0
pyct==0.5.0
Pygments==2.19.1
pyparsing==3.2.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
rich==14.0.0
scipy==1.15.3
shellingham==1.5.4
six==1.17.0
toolz==1.0.0
typer==0.16.0
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
xarray==2025.6.1
